$backcol: lightcyan;
$txtcol: blue;
$lblu: lightblue;
$txtcolH: white;
$center: center;
$pad: 20px;
$marg: 20px;
$hsize: 22px;
$psize: 18px;

@font-face{ src: url(font1/font1.ttf);font-family: font1}
@font-face{ src: url(font2/font2.ttf);font-family: font2}
@font-face{src: url(font3/font3.ttf);font-family: font3}

@mixin hover-effect {
    color:green;
    padding: 10px;
    border: 2px solid darkgreen;
    border-radius: 50px;  
    background: white;
    transition: all ease-in-out 500ms;  
}
body{
    background-image: linear-gradient(to right,lightgrey, lightblue,lightgreen);
    box-sizing: border-box;
}
@import "_header";

@import "_navfooter";

@import "_cards";

@import "_main";

@import "asidesection";

@mixin img-hover {
    border: 2px solid green;
    border-radius: 30px;
    opacity: 0.5;
    transition: all ease-in-out 500ms;    
}
a:hover{
    font-size: $psize;
    color: darken($txtcol,40%); 
}
li:hover{
    background-color: $lblu;
    border: 1px solid $txtcol;
    border-radius: 10px;
}
article:hover{
    @include hover-effect;
}
img:hover{
    @include img-hover;
}