body{
    background: linear-gradient(to right bottom, red, yellow, pink, blue, orange, purple, green, black, brown);
    background-repeat: no-repeat;    
    background-size: cover;   
    background-position: center center;
    background-attachment: fixed;
}
h1 {
    text-shadow: 5px 5px 5px black, 5px 5px 5px red;
    font-size: 52px;
    background: -webkit-radial-gradient(circle,red, blue, green, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.main{
    transform: rotate(10deg);
    box-shadow: 26px 14px 0px 2px rgba(0,0,0,1);
    text-align: center;
    color: black;
    font-weight: bolder;
    height: 300px;
    width: 80%;
    border: 5px solid #111111;
    background-image: linear-gradient(to left bottom, red 20%, yellow 40%, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown);
}
.div1{
    transform: rotatey(180deg) rotatex(180deg);
    text-align: center;
    color: black;
    font-weight: bolder;
    height: 300px;
    border: 5px solid #111111;
    background-image: linear-gradient(to left, red 20%, yellow 40%, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown);
}
.div2{
    text-align: center;
    color: black;
    font-weight: bolder;
    height: 300px;
    border: 5px solid #111111;
    background-image: linear-gradient(to right bottom, red 20%, yellow 40%, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown);
}
.div3{
    text-align: center;
    color: black;
    font-weight: bolder;
    height: 300px;
    border: 5px solid #111111;
    background-image: linear-gradient(to bottom, red 20%, yellow 40%, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown);
}
.div3 h1{
    text-align: center;
    background: linear-gradient(50deg, black 33%, white 10%, black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
}
.div4{
    text-align: center;
    color: black;
    font-weight: bolder;
    height: 300px;
    border: 5px solid #111111;
    background-image: linear-gradient(65deg, red 20%, yellow 40%, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown);
}
.div5{
    text-align: center;
    color: black;
    font-weight: bolder;
    height: 300px;
    border: 5px solid #111111;
    background-image: radial-gradient(red 20%, yellow 40%, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown);
}
.div6{
    text-align: center;
    color: black;
    font-weight: bolder;
    height: 300px;
    border: 5px solid #111111;
    background-image: radial-gradient(circle,red 20%, yellow 40%, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown, red, yellow, pink, blue, orange, purple, green, black, brown);
}