<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>About</h1>
    <p>This is the About page</p>
    <h2>Name: <%=name%></h2>
    <h2>Surname: <%=surname%></h2>
    <h2>Comment: <%=comment%></h2>
  </body>
</html>
