<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Contact</h1>
    <p>This is the contact info:</p>
    <h2>my address is : <%=address%></h2>
    <h2>my email is : <%=email%></h2>
    <h2>my phone is : <%=phone%></h2>
  </body>
</html>
