body{
    background-color: palegreen;

}.days,.numbers{
    background-color: lightblue;
    border: 3px solid grey;    
    padding: 20px;
    text-align: center;
}
.grid1, .grid2{
    grid-gap: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.grid1{
    padding-bottom: 5px;
    border-top: none;
}
.prevnumbers, .nextnumbers{
    background-color: lightgray;
    border: 3px solid grey;    
    padding: 20px;
    text-align: center;
}
