
// Use if to specify a block of code to be executed, if a specified condition is true
// Use else to specify a block of code to be executed, if the same condition is false
// Use else if to specify a new condition to test, if the first condition is false

@mixin text-styler ($fsize) {
    font-size: $fsize;  
    @if $fsize > 2em{
        color: red;
        text-transform: lowercase;
        font-weight: bold;
    }  
    @if $fsize == 2em {
        color: darkblue;
    }    
    @if $fsize == 3em {
        color: green;
    }
    @if $fsize < 1em {
        color:purple;
    }
}

.main{
    @include text-styler(2em);
}

////////////////////////////////////////////EXERCISE//////////////////////
@mixin balls ($width, $height, $bord, $brad, $selectors){
    #{$selectors}{
    width: $width;
    height: $height;
    border: $bord;
    border-radius: $brad;    
    }
}
@include balls (200px, 200px, 3px solid black, 100%, ".ball1, .ball2, .ball3");

@mixin anim($dura, $tfunc, $name, $animdir, $anic){
    animation-duration: $dura;
    animation-timing-function: $tfunc;
    animation-name: $name;
    animation-direction: $animdir;
    animation-iteration-count: $anic;
    
    @keyframes rollin{
        from {
            left: 0%;
            transform: scale(1, 1);
        }
        to {
            margin-left: 20%;
            margin-top: 10%;
            transform: scale(0.5, 0.5);
        }
    }
                                                                                                    
}

@mixin color ($animdel) {
    animation-delay: $animdel;
    @if $animdel == 1s{
        background: red;
    }
    @if $animdel == 1.5s{
        background: blue;
    }
    @if $animdel == 2s{
        background: yellow; 
    }
}

.ball1{
    @include anim (2s, ease-in-out, rollin, alternate, infinite);
    @include color (1s);
}
.ball2{
    @include anim (2s, ease-in-out, rollin, alternate, infinite);
    @include color(1.5s);
}
.ball3{
    @include anim (2s, ease-in-out, rollin, alternate, infinite);
    @include color(2s);
}
  

