$color: #008000;
$border: 2px solid #006400;

.container1, .container2{
    display: flex;
    height: 150px;
    border: $border;
}
div{
    display: inline-block;
    width: 200px;  
}
.green{
    background: $color;
}
.darken{
    background: darken($color, 10%);
}
.lighten{
    background: lighten($color, 10%);
}
.footer{
    border: $border;
    width: 200px;
    height: 110px;
}
p{
    margin: 8px;
}