@font-face {
  src: url(font1/font1.ttf);
  font-family: font1;
}

@font-face {
  src: url(font2/font2.ttf);
  font-family: font2;
}

@font-face {
  src: url(font3/font3.ttf);
  font-family: font3;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(lightgrey), color-stop(lightblue), to(lightgreen));
  background-image: linear-gradient(to right, lightgrey, lightblue, lightgreen);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  font-family: font1;
  text-align: center;
  padding: 20px;
  background: #7affff;
}

header h1 {
  margin-top: 20px;
  color: #6666ff;
  font-size: 4rem;
  text-decoration: underline;
}

h1:hover {
  color: green;
  padding: 10px;
  border: 2px solid darkgreen;
  border-radius: 50px;
  background: white;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

nav, footer {
  background-color: lightcyan;
}

nav ul, footer ul {
  text-align: center;
}

nav ul li, footer ul li {
  display: inline-block;
  list-style: none;
  padding: 20px;
}

nav ul li a, footer ul li a {
  font-family: font3;
  font-size: 22px;
  text-decoration: none;
  color: blue;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.cards {
  background: lightcyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.cards .card {
  border: 2px solid blue;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 20px;
  -webkit-box-shadow: 15px 10px #5fb3ce;
          box-shadow: 15px 10px #5fb3ce;
}

.cards .card h4 {
  font-size: 22px;
  font-family: font1;
  color: blue;
  text-align: center;
}

.cards .card p {
  color: blue;
  font-family: font2;
  font-size: 18px;
  text-align: center;
}

.cards .card button {
  padding: 5px;
  font-size: 18px;
  background-color: lightblue;
  color: blue;
  font-family: font2;
  border-radius: 10px;
}

.card:hover {
  background-color: lightblue;
}

button:hover {
  cursor: progress !important;
  background-color: blue !important;
  color: white !important;
}

.card h4:hover {
  color: white !important;
}

.card p:hover {
  color: white !important;
}

main .portion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .portion figure {
  margin: 20px;
}

main .portion figure img {
  margin: 20px;
  width: 30vw;
}

main .portion article {
  text-align: justify;
  padding: 20px;
}

main .portion article h3 {
  font-size: 22px;
  font-family: font1;
  color: blue;
}

main .portion article p {
  font-size: 18px;
  font-family: font2;
  color: blue;
}

aside, section {
  margin: 20px;
  padding: 20px;
}

aside h3, section h3 {
  font-family: font1;
  font-size: 22px;
  color: blue;
}

aside p, section p {
  font-size: 18px;
  font-family: font2;
  color: blue;
}

a:hover {
  font-size: 18px;
  color: #000033;
}

li:hover {
  background-color: lightblue;
  border: 1px solid blue;
  border-radius: 10px;
}

article:hover {
  color: green;
  padding: 10px;
  border: 2px solid darkgreen;
  border-radius: 50px;
  background: white;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

img:hover {
  border: 2px solid green;
  border-radius: 30px;
  opacity: 0.5;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}
/*# sourceMappingURL=style2.css.map */