.App {
  text-align: center;
  color: blue;
  background: cadetblue;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: lightblue;
}

.person{
  border: 3px solid blue;
  padding: 10px;
  margin: 10px;
  width: 200px;
  box-shadow: 8px 8px 8px gray;
  display: inline-block;
  background: lightblue;
}

#todo{
  margin: 20px;
  background: lightgreen;
  border: 3px solid white;
  border-radius: 20px;
  width: 350px;
  box-shadow: 8px 8px 8px black;
  padding: 10px;
}

#todo ul li{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}