.container{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-image:
    linear-gradient(to right bottom,rgba(174,36,179,0.8), rgba(127,216,228,0.8));
    padding: 25px;
}
.container label{
    display: inline-block;
    width: 60%;
    text-align: left;
}
.container, input, textarea{ 
    width: 60%;
    box-sizing: border-box;
}
@media only screen and (max-width:600px){
    .container input, textarea, label, p{
        width: 100%;
        text-align: left;
    }
    #submit{
        text-align: center;
    }
}