*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;     
}
.container{
    background-color:rgba(0,0,0,0.7);
    max-width: 450px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 10px;
}
h1{
    color: white;
    text-align: center;
    padding-top: 30px;
}
label{
    color: lightgrey;
    margin-left: 50px;
}
input{
    background-color: transparent;
    border-radius: 5px;
    width: 350px;;
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-weight: bold; 
    color: lightgrey;    
}
.container input[type='submit']{
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    background-color: rgb(20, 113, 141);
    width: 100px;
    margin: 0 auto;
    border-radius: 30px;
}
.container input[type='submit']:hover{
    background-color: grey;
    color: white;
}
.container input[type=text]:focus,[type=email]:focus,[type=password]:focus{
    border: 2px solid grey;
    border-bottom: 2px dotted gray;
}